# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Editor folders
.vscode/
.idea/

# Optional: lock files (si no quieres subirlos)
# package-lock.json
# yarn.lock

# Output
dist/
build/
